<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Warehouse">
        <activity android:name="edu.hku.comp2506.warehouse.app.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="edu.hku.comp2506.warehouse.app.LoginActivity"/>
        <activity android:name="edu.hku.comp2506.warehouse.activity.UserOperatorActivity" />
        <activity android:name="edu.hku.comp2506.warehouse.activity.UserListActivity" />
        <activity android:name="edu.hku.comp2506.warehouse.activity.UserInsertActivity" />
        <activity android:name="edu.hku.comp2506.warehouse.activity.GoodsListActivity" />
        <activity android:name="edu.hku.comp2506.warehouse.app.RegisterActivity" />
        <activity android:name="edu.hku.comp2506.warehouse.activity.GoodsOperatorActivity" />
        <activity android:name="edu.hku.comp2506.warehouse.activity.GoodsInsertActivity" />
    </application>

</manifest>